<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>create container</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div style="margin: 5%;">
            <h3 style="margin: 1% 0%;">起動中</h3>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="col-2">作業ID</th><th class="col-2">作業コンテナ</th><th class="col-1"></th><th class="col-6"></th>
                    </tr>
                </thead>
                <tbody>
                    <% work_containers.forEach((container) => { %>
                        <form action="/dummy-guacamole-for-vnc/delete" method="POST">
                            <tr>
                                <td><input type="hidden" name="work_id" value="<%= container.work_id %>"><%= container.work_id %></td>
                                <td><input type="hidden" name="work_container" value="<%= container.work_container %>"><%= container.work_container %></td>
                                <td>
                                    <input type="hidden" name="id" value="<%= container.id %>">
                                    <input type="hidden" name="vnc_identifier" value="<%= container.connection_id %>">
                                    <a href="<%= container.vnc_url %>">接続</a>
                                </td>
                                <td>
                                    <input type="submit" id="stop_<%= container.work_id %>" value="停止" class="btn btn-primary">
                                </td>
                            </tr>
                        </form>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div style="margin: 5%;">
            <h3 style="margin: 1% 0%;">停止中</h3>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th class="col-2">作業ID</th><th class="col-2">作業コンテナ</th><th class="col-1"></th><th class="col-6"></th>
                    </tr>
                </thead>
                <tbody>
                    <% wait_containers.forEach((container) => { %>
                        <tr>
                            <td><%= container.work_id %></td>
                            <td><%= container.work_container %></td>
                            <td>
                                <form action="/dummy-guacamole-for-vnc/create" method="POST">
                                    <input type="hidden" name="work_id" value="<%= container.work_id %>">
                                    <input type="hidden" name="work_container" value="<%= container.work_container %>">
                                    <input type="hidden" name="id" value="<%= container.id %>">
                                    <input type="hidden" name="work_user" value="dummy">
                                    <input type="hidden" name="identifier" value="dummy">
                                    <input type="submit" value="起動" class="btn btn-primary">
                                </form>
                            </td>
                            <td>
                                <form action="/dummy-guacamole-for-vnc/connect" method="POST">
                                    <input type="hidden" name="work_id" value="<%= container.work_id %>">
                                    <input type="hidden" name="work_container" value="<%= container.work_container %>">
                                    <input type="hidden" name="id" value="<%= container.id %>">
                                    <input type="hidden" name="work_user" value="dummy">
                                    <input type="hidden" name="identifier" value="dummy">
                                    <input type="submit" id="connect_<%= container.work_id %>" data-toggle="modal" data-target="#Modal" data-backdrop="static" value="起動 & 接続" class="btn btn-primary">
                                </form>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>コンテナ起動中</h4>
                    </div>
                    <div class="modal-body">
                        <label>しばらくお待ちください</label>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
